body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    width: 30rem;
    border: solid blueviolet thin;
    border-radius: 2%;
    box-shadow: black 1px 1px 2px 3px;
    padding: 1rem;
    
    /*margin: auto; canh giữa trang*/
}

label{
    display: inline-block;
    width: 10rem;
    
}

textarea{
    border: blueviolet solid;
    box-shadow: black 3px 2px;
    border-radius: 2%;
}
input[type='submit'],
input[type='reset']{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    padding: 3px 15px 5px 15px;
    background-color: blueviolet;
    color: wheat;
    border-radius: 8%;
    box-shadow: black 1px 2px;
}



input[type='email'],
input[type='password'],
input[type='password2'],
input[type='date']{
    font-size: 1rem;
    border: blueviolet solid thin;
    box-shadow: black 3px 2px;
}

select{
    font-size: 1rem;
    border: blueviolet solid thin;
    box-shadow: black 2px 2px;
    
}



