.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
    height: 35px;
    width: 35px;
    border: 5px solid #C2C2C2;
    border-radius: 80%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}
.form-group label{
    margin-bottom: 1rem;
    display: inline block;
}
.container{
    width: 75%;
}