@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
body {
  font-family: "Baloo 2", cursive;
  padding-top: 90px;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 7px 0;
}
.sitelogo > a {
  display: block;
}
.sitelogo > a > img {
  height: 50px;
}
.menu-left {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}
.menu-right {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: 100px;
}
.menu {
}
ul.menu-link {
  display: flex;
  align-items: center;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.menu-link > li {
  position: relative;
  padding: 10px 0;
}
ul.menu-link > li + li {
  margin-left: 40px;
}
ul.menu-link > li > a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  text-decoration: none;
}
ul.menu-link > li > .sub {
  position: absolute;
  top: 100%;
  background: white;
  border-radius: 5px;
  padding: 5px 15px;
  min-width: 250px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  margin-top: 10px;
}
ul.menu-link > li > .sub > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.menu-link > li > .sub > ul > li + li {
  border-top: 1px dashed #eee;
}
ul.menu-link > li > .sub > ul > li > a {
  display: block;
  padding: 10px 0;
  color: #333;
  text-decoration: none;
}
ul.menu-link > li > .sub > ul > li > a:hover {
  font-weight: 500;
  color: lightcoral;
}

ul.menu-link > li > a:hover,
ul.menu-link > li.active > a {
  color: lightcoral;
}
ul.menu-link > li:hover .sub {
  transition: 0.2s all ease;
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

.banner-fake {
  height: 400px;
  background: lightcoral;
}
